.one8-point {
  font-size: 1.8em;
}

.one7-point {
  font-size: 1.7em;
}

.one6-point {
  font-size: 1.6em;
}

.one5-point {
  font-size: 1.5em;
}

.one4-point {
  font-size: 1.4em;
}

.one3-point {
  font-size: 1.3em;
}

.one2-point {
  font-size: 1.2em;
}

.one1-point {
  font-size: 1.1em;
}

.one-point {
  font-size: 1em;
}

.point-9 {
  font-size: 0.9em;
}

.point-8 {
  font-size: 0.8em;
}

.point-7 {
  font-size: 0.7em;
}

.font-light-bold {
  font-weight: 550;
}
